<div class="about">
    <h2 class="aboutMe">O mnie</h2>

    <p>
        Moja specjalizacja to kompleksowe remonty i wykończenia wnętrz. <br>
        W branży remontowej działam od około 20 lat. <br>
        Swoje usługi świadczę na terenie Białegostoku, Łap oraz przyległych okolicach. <br>
        Dysponuję profesjonalną wiedzą i doświadczeniem oraz specjalistycznym sprzętem renomowanych marek. <br>
        Przeprowadzane przeze mnie remonty i wykończenia mieszkań/domów pod klucz, wykonywane są z największą dbałością o szczegóły, <br>
        przez co nie boję się realizacji usług nawet dla najbardziej wymagających Klientów. <br>
        Jednym z wielu moich atutów jest dotrzymywanie terminów. Niezwykle istotne jest dla mnie zadowolenie moich Klientów, <br>
        dlatego też wszystkie powierzone mi zadania wykonuję sprawnie, dokładanie i terminowo - zgodnie z zawartą umową.
    </p>
</div>
<router-outlet></router-outlet>

