<div class="allNavField">
    <div class="interiors">Stylowe wnętrza </div>
    <div class="owner">Mariusz Ossowski</div>
    <div class="navbar">
        <a routerLink="about">O mnie</a>
        <a routerLink="gallery">Realizacje</a>
        <a routerLink="services">Zakres usług</a>
        <a routerLink="contact">Kontakt</a>
        <!--Administrator panel, SignIn / SignOut-->
        <a style="float:right;">Wyloguj</a>
        <a style="float:right;" routerLink="login">Zaloguj</a>
        <a style="float:right;" routerLink="post">Dodaj realizację</a>
    </div>
</div>
<router-outlet></router-outlet>


