<div class="allNavField">
    <!-- <div class="menu"><button class="buttonMenu"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/VisualEditor_-_Icon_-_Menu.svg/1200px-VisualEditor_-_Icon_-_Menu.svg.png" class="menuIcon"></button></div> -->
    <div class="interiors">Stylowe wnętrza </div>
    <div class="owner">Mariusz Ossowski</div>
    <div class="navbar">
        <a routerLink="about">O mnie</a>
        <a routerLink="gallery">Realizacje</a>
        <a routerLink="services">Zakres usług</a>
        <a routerLink="contact">Kontakt</a>
        <!--Administrator panel, SignIn / SignOut-->
        <a style="float:right;">Wyloguj</a>
        <a style="float:right;" routerLink="signIn">Zaloguj</a>
        <a style="float:right;" routerLink="post">Dodaj realizację</a>
    </div>
</div>
<router-outlet></router-outlet>


