.interiors, .owner {
  text-align: center;
  font-family: fantasy;
}

.interiors {
  font-size: 5rem;
  font-weight: bold;
  padding-top: 1rem;
}

.owner {
  font-size: 1.5rem;
}

.navbar {
  overflow: hidden;
  border: 0.05rem solid lightgray;
  box-shadow: 0.2rem 0.4rem lightgray;
  width: 85%;
  height: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0.2rem;
  width: 10%;
  color: black;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
