.contact {
  margin: 2rem;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5rem;
  padding: 1rem;
  border: 0.05rem solid lightgray;
  box-shadow: 0.4rem 0.8rem lightgray;
}

.contact .contactTitle {
  font-family: fantasy;
  font-weight: bold;
  font-size: 2rem;
}

.contact .sendMessage {
  font-weight: bold;
  margin-top: 2rem;
}

.contact .fieldTitle, .contact .fieldEmail, .contact .fieldMessage {
  display: block;
}

.contact .fieldTitle {
  width: 15rem;
}

.contact .fieldEmail {
  margin-top: 1rem;
  width: 15rem;
}

.contact .fieldMessage {
  margin-top: 1rem;
  width: 20rem;
  height: 10rem;
}

.contact button {
  margin-top: 1rem;
  background-color: white;
  border: 0.05rem solid lightgray;
  box-shadow: 0.1rem 0.2rem lightgray;
  margin-left: 8rem;
}
