.post {
  margin: 2rem;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5rem;
  padding: 1rem;
  border: 0.05rem solid lightgray;
  box-shadow: 0.4rem 0.8rem lightgray;
}

.post .postTitle {
  font-family: fantasy;
  font-weight: bold;
  font-size: 2rem;
}
